# 1. Unique Words in a Sentence

## Problem Statement
Given a sentence, identify all unique words and display:
- The count of unique words
- The unique words themselves

## Hint
- Split the sentence into individual words.
- Convert the list of words into a set to remove duplicates.
- Print both the set and its length.

In [1]:
# Step 1: Take input from user
sentence = input("Enter sentence:")
# Step 2: Split sentence into words
words = sentence.split()
# Step 3: Convert to set to get unique words
unique_words = set(words)
# Step 4: Count unique words
unique_count = len(unique_words)

print("Unique words count:",unique_count)
print("Unique words:",unique_words)

Enter sentence:python is easy and python is powerful
Unique words count: 5
Unique words: {'powerful', 'easy', 'python', 'and', 'is'}

# 2. Highest Salary from Employee Data

## Problem Statement
Store employee names and their salaries, and determine which employee has the highest salary.

## Hint
- Use a dictionary where the key is the employee name and the value is the salary.
- Compare salary values to find the highest.

In [5]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
max_salary = 0
max_employee = ""

for name, salary in employees.items():
  if salary > max_salary:
    max_salary = salary
    max_employee = name

print("Highest Salary:",max_employee,"-",max_salary)

Highest Salary: Ravi - 75000

# 3. Find Maximum and Minimum Values

## Problem Statement
Find the maximum and minimum values from a list of numbers.

## Hint
- Initialize both maximum and minimum with the first element of the list.
- Use a loop to compare each element.

In [6]:
numbers = [45, 22, 89, 10, 66]
# Initialize maximum and minimum value with first element
max_value = numbers[0]
min_value = numbers[0]
# Loop through remaining elements
for num in numbers[1:]:
  if num > max_value:
    max_value = num
  if num < min_value:
    min_value = num

print("List:",numbers)
print("Max:",max_value)
print("Min:",min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

# 4. Count Products Above a Price Threshold

## Problem Statement
Count how many products have a price greater than 1000.

## Hint
Use a loop to compare each price with 1000.

In [7]:
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
  if price > 1000:
    count += 1

print("Products above 1000:",count)

Products above 1000: 2

# 5. Calculate Attendance Percentage

## Problem Statement
Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

## Hint
- Count the number of "P" values.
- Divide by the total number of days.

In [8]:
attendance = ["P", "P", "A", "P", "P"]
# Count present days
present_count = 0

for status in attendance:
  if status == "P":
    present_count += 1

# Calculate total days
total_days = len(attendance)

# Calculate attendance percentage
percentage = (present_count/total_days)*100

print("Attendance Percentage:",percentage)

Attendance Percentage: 80.0

# 6. Remove Duplicate Phone Numbers

## Problem Statement
You are given a list of phone numbers that may contain duplicates.  
Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.

## Hint
- Convert the list into a set.
- Sets automatically remove duplicate values.

In [9]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print("Unique phone numbers:",unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

# 7. Count Character Frequency

## Problem Statement
Count how many times each character appears in a given string.

## Hint
- Use a dictionary.
- Increment the count for each character occurrence.

In [10]:
text = "python"
char_frequency = {}

for char in text:
  if char in char_frequency:
    char_frequency[char] += 1
  else:
    char_frequency[char] = 1

print(char_frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# 8. Convert List to Tuple

## Problem Statement
Convert a list into a tuple and display it.

## Hint
Use the tuple() function.

In [11]:
num_list = [10, 20, 30]
num_tuple = tuple(num_list)
print("Tuple:", num_tuple)

Tuple: (10, 20, 30)

# 9. Check if a Key Exists in a Dictionary

## Problem Statement
Check whether a specific key exists in a dictionary.

## Hint
Use the 'in' keyword.

In [12]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
# Key to check
key = "Ravi"

if key in employees:
  print("Employee exists")
else:
  print("Employee does not exist")

Employee exists

# 10. Calculate Average Marks

## Problem Statement
Calculate the average marks of a student from a list of marks.

## Hint
- Calculate the sum of all values.
- Divide by the total number of marks.

In [13]:
marks = [70, 75, 80, 65]
total_marks = sum(marks)
total_subjects = len(marks)
average_marks = total_marks / total_subjects
print("Average Marks:", average_marks)

Average Marks: 72.5